logs
*.log
**/*npm-debug.log.*
_test-output
_temp

pids
*.pid
*.seed

lib-cov
coverage
.nyc_output
.lock-wscript
build/Release

.idea
typings/**
node_modules
jspm_packages
link-checker-results.txt

.npm
.node_repl_history
!systemjs.config.js
!typings/typings.d.ts
